/* #region common */

:root {
    --light-color: #ffffff;
    --dark-color: #000000;
    --main-color: #b4d0e6;
    --secondary-color: #0061fe;

}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 1440px;
}

/* #region widths */
.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 *2);
}

.col-3 {
    width: calc(100% / 12 *3);
}

.col-4 {
    width: calc(100% / 12 *4);
}

.col-5 {
    width: calc(100% / 12 *5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 *7);
}

.col-8 {
    width: calc(100% / 12 *8);
}

.col-9 {
    width: calc(100% / 12 *9);
}

.col-10 {
    width: calc(100% / 12 *10);
}

.col-11 {
    width: calc(100% / 12 *11);
}

.col-12 {
    width: 100%;
}

/* #endregion widths */

.d-flex {
    display: flex;
}

.bttn {
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-decoration: none;
    padding: 0.4rem 0.75rem;
    margin: 1rem;
    width: fit-content;
}

/* #endregion common */

/* #region debug */

.debug {

    * {
        border: 2px dotted black;
    }

    header {
        width: 100%;
        background-color: red;


        nav {
            height: 50%;
            width: 100%;
            background-color: orange;
        }
    }

    main {
        background-color: blue;
        width: 100%;



        section {

            margin: auto;
            width: 70%;
            background-color: lightcoral;
        }

        #jumbotron {
            width: 80%;
        }

    }

    footer {
        background-color: green;
        width: 100%;
        height: 10rem;

        section {
            margin: auto;
            background-color: lightseagreen;
            height: 100%;
            width: 80%;
        }
    }
}

/* #endregion debug */

/* #region header */
header {
    background-color: var(--light-color);
    position: fixed;
    z-index: 2;
    width: 100%;

    nav {

        width: 100%;
        justify-content: space-between;
        align-items: center;

        div.d-flex {
            align-items: center;

            a:first-child {
                padding-top: 1.2rem;
            }
        }

        div {

            a {
                text-decoration: none;
                color: var(--dark-color);
                font-weight: 400;
                padding: 1rem;
            }
        }
    }
}

/* #endregion header */

/* #region main */
main {

    background-color: var(--light-color);
    width: 100%;

    section {
        margin: auto;
        width: 70%;
        padding-top: 8rem;
    }

    section:first-child {

        width: 100%;
        background-color: var(--main-color);
    }

    #jumbotron {
        /*actual container of the jumbo*/
        margin: auto;
        background-color: var(--main-color);
        width: 70%;

        div {
            padding-top: 2rem;
            /*clear space for fixed header*/

            h1 {
                display: inline;
                /*to align header to the left*/
                font-size: 100px;
            }

            div:first-child {
                position: relative;
                /*used to place icon later*/
                flex-direction: column;

                .icon-container {
                    font-size: 50px;
                    position: absolute;
                    /*place anchor icon */
                    bottom: 0;
                    left: 0;
                    color: var(--dark-color);
                    padding: 1rem;
                }
            }

            div {
                a.bttn {
                    margin-left: 0;
                    /*align button to the left*/
                }
            }


            div img {
                width: 100%;
                margin-bottom: -10%;
                /*image size*/
            }
        }


    }

    div#top-spacer {

        background-color: var(--light-color);
        padding: 10rem 0;

        hr {
            border: 0.5px solid rgba(211, 211, 211, 0.527);

        }
    }

    #paid-plans {
        div {
            width: 100%;


            .column {
                padding: 1rem;

                .column-head {
                    justify-content: center;
                    border: 2px solid rgb(211, 211, 211);
                    border-bottom: 1px solid rgb(211, 211, 211);
                    padding: 1rem;
                }

                .card {
                    border: 2px solid rgb(211, 211, 211);
                    border-top: none;
                    padding: 1rem;
                    flex-direction: column;

                    & [class*=card] {
                        flex-direction: column;
                        padding: 1rem;

                        & *:not(.bttn) {
                            padding: 1rem 0;
                        }





                    }

                    .card-title {}

                    .card-trial {
                        a.bttn {
                            margin: 1rem 0;
                            width: 100%;
                            text-align: center;


                        }

                        span {
                            padding: 0;
                        }
                    }

                    hr {
                        margin-left: 1rem;
                        ;
                        border-top: 0.5px solid rgb(211, 211, 211);
                    }

                    .card-info {}

                }
            }

        }

        & row {
            justify-content: space-between;

        }
    }

}



/* #endregion main */

/* #region footer */
footer {
    background-color: var(--dark-color);
    width: 100%;

    section {
        margin: auto;
        width: 80%;
    }
}

/* #endregion footer */