/* #region common */

:root {
    --lighter-color: #ffffff;
    --light-color: rgb(211, 211, 211);
    --dark-color: #000000;
    --main-color: #b4d0e6;
    --secondary-color: #0061fe;

}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-width: 1440px;
}

/* #region widths */
.col-1 {
    width: calc(100% / 12);
}

.col-2 {
    width: calc(100% / 12 *2);
}

.col-3 {
    width: calc(100% / 12 *3);
}

.col-4 {
    width: calc(100% / 12 *4);
}

.col-5 {
    width: calc(100% / 12 *5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc(100% / 12 *7);
}

.col-8 {
    width: calc(100% / 12 *8);
}

.col-9 {
    width: calc(100% / 12 *9);
}

.col-10 {
    width: calc(100% / 12 *10);
}

.col-11 {
    width: calc(100% / 12 *11);
}

.col-12 {
    width: 100%;
}

/* #endregion widths */

.d-flex {
    display: flex;
}

.bttn {
    background-color: var(--secondary-color);
    color: var(--lighter-color);
    text-decoration: none;
    text-align: center;
    height: fit-content;
    padding: 0.4rem 0.75rem;
    margin: 1rem;

}

.bttn-secondary {
    background-color: var(--lighter-color);
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
}

.left-align {
    margin-left: 0;
}


.row {
    flex-wrap: wrap;
    justify-content: space-between;

    .column {
        padding: 1rem;
    }
}

/* #endregion common */

/* #region debug */

.debug {

    * {
        border: 2px dotted black;
    }

    header {
        width: 100%;
        background-color: red;


        nav {
            height: 50%;
            width: 100%;
            background-color: orange;
        }
    }

    main {
        background-color: blue;
        width: 100%;



        section {

            margin: auto;
            width: 70%;
            background-color: lightcoral;
        }

        #jumbotron {
            width: 80%;
        }

    }

    footer {
        background-color: green;
        width: 100%;
        height: 10rem;

        section {
            margin: auto;
            background-color: lightseagreen;
            height: 100%;
            width: 80%;
        }
    }
}

/* #endregion debug */

/* #region header */
header {
    background-color: var(--lighter-color);
    position: fixed;
    z-index: 2;
    width: 100%;

    nav {

        width: 100%;
        justify-content: space-between;
        align-items: center;

        div:first-child {

            a:first-child {
                padding: 0rem;
                border: none;

                img {
                    padding: 2rem 2rem 0 2rem;

                }
            }

        }

        div {

            a {
                text-decoration: none;
                color: var(--dark-color);
                font-weight: 400;
                padding: 2rem;
                border: 2px solid transparent;
                margin-bottom: -2px;

                &.bttn {
                    margin: 1.6rem 1rem 0rem 1rem;

                }
            }

            a:not(.bttn).hoverable:hover {
                border-bottom: 2px solid var(--dark-color);
            }


        }
    }
}

/* #endregion header */

/* #region main */
main {

    background-color: var(--lighter-color);
    width: 100%;

    section {
        margin: auto;
        width: 70%;
        padding-top: 8rem;
    }

    section:first-child {

        width: 100%;
        background-color: var(--main-color);
    }

    #jumbotron {
        margin: auto;
        background-color: var(--main-color);
        width: 70%;

        div {
            padding-top: 2rem;
            /*clear space for fixed header*/

            h1 {
                display: inline;
                /*to align header to the left*/
                font-size: 100px;
            }

            div:first-child {
                position: relative;
                /*used to place icon later*/
                flex-direction: column;

                .icon-container {
                    font-size: 50px;
                    position: absolute;
                    /*place anchor icon */
                    bottom: 0;
                    left: 0;
                    color: var(--dark-color);
                    padding: 1rem;
                }
            }

            div {
                a.bttn {
                    width: fit-content;
                }
            }


            div img {
                width: 100%;
                margin-bottom: -10%;
                /*image size*/
            }
        }


    }

    div#top-spacer {

        background-color: var(--lighter-color);
        padding: 10rem 0;

        hr {
            border: 0.5px solid var(--light-color);

        }
    }


    .card-head {
        justify-content: center;
        border: 2px solid var(--light-color);
        border-bottom: 1px solid var(--light-color);
        padding: 1rem;
    }

    .card {
        border: 2px solid var(--light-color);
        border-top: none;
        padding: 1rem;
        flex-direction: column;

        & [class*=card] {
            flex-direction: column;
            padding: 1rem;

            & *:not(.bttn) {
                padding: 1rem 0;
            }





        }

        .card-title {

            h2 {
                font-weight: 800;
                font-size: 40px;
            }

            span:first-of-type {
                font-weight: 800;

            }

            span:last-of-type {
                color: var(--light-color);

            }

        }

        /* .card-info {} not needed atm*/

        .card-trial {
            a.bttn {
                margin: 1rem 0;
                width: 100%;
                text-align: center;


            }

            span {
                padding: 0;
            }
        }

        hr {
            margin-left: 1rem;
            border-top: 0.5px solid var(--light-color);
        }

        .card-foot {


            div {
                i {
                    color: var(--secondary-color);
                    width: fit-content;

                }

                div {
                    display: inline;

                }
            }
        }
    }
}

.col-12 {

    .card-head {
        font-size: larger;

        & i {
            padding-right: 0.5rem;
        }
    }

    .card {



        .card-title {

            div {
                justify-content: space-between;

                h2:first-of-type {
                    padding-top: 0;
                }

                /*first of type for specificity override*/
                span:first-of-type {
                    color: black;
                }

                p {
                    font-size: larger;
                }

                a.bttn {
                    padding: 1rem;
                    height: fit-content;
                }
            }
        }
    }
}


#partner-with-us {

    justify-content: space-between;

    div {
        padding: 1rem;


    }

    .img-container {

        img {
            width: 100%;
        }
    }

    .content-container {
        padding: 4rem;

        h2:first-child {
            font-size: xx-large;
            padding-bottom: 1rem;
        }

        p {
            padding-bottom: 1rem;
        }


    }



}

#features {

    .row {
        .column {

            img {
                width: 100%;
            }

            h2 {
                padding-bottom: 1rem;
            }
        }
    }
}

#find-out-more {
    padding-bottom: 5rem;

    &>* {
        padding: 1rem;
    }

    h1 {
        font-size: 50px;
        padding-bottom: 3rem;
    }
}


/* #endregion main */

/* #region footer */
footer {
    background-color: var(--dark-color);
    width: 100%;
    padding: 3rem 0 1rem 0;

    & * {
        color: var(--lighter-color);
    }

    section {
        margin: auto;
        width: 80%;
        padding-bottom: 1rem;

        /*column.d-flex for specificity*/

        .column.d-flex {
            flex-direction: column;
            padding-bottom: 4rem;

            & * {
                padding-bottom: 1rem;
            }


            a {
                text-decoration: none;

            }
        }

        .separator {
            width: 10%;

            hr {
                border-top: 1px solid;
                padding-bottom: 2rem;
            }
        }


    }
}

/* #endregion footer */