/* #region common */

:root {
    --light-color: #ffffff;
    --dark-color: #000000;
    --main-color: #b4d0e6;
    --secondary-color: #0061fe;

}

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.bttn {
    background-color: var(--secondary-color);
    color: var(--light-color);
    text-decoration: none;
    padding: 0.4rem 0.75rem;
    margin: 1rem;
}

/* #endregion common */

/* #region debug */

.debug {

    * {
        border: 2px dotted black;
    }

    header {
        width: 100%;
        background-color: red;


        nav {
            height: 50%;
            width: 100%;
            background-color: orange;
        }
    }

    main {
        background-color: blue;
        width: 100%;



        section {

            margin: auto;
            width: 70%;
            background-color: lightcoral;
        }

        #jumbotron {
            width: 80%;
        }

    }

    footer {
        background-color: green;
        width: 100%;
        height: 10rem;

        section {
            margin: auto;
            background-color: lightseagreen;
            height: 100%;
            width: 80%;
        }
    }
}

/* #endregion debug */

/* #region header */
header {
    background-color: var(--light-color);
    position: fixed;

    width: 100%;


    nav {

        width: 100%;
        justify-content: space-between;
        align-items: center;

        div.d-flex {
            align-items: center;

            a:first-child {
                padding-top: 1.2rem;
            }
        }

        div {

            a {
                text-decoration: none;
                color: var(--dark-color);
                font-weight: 400;
                padding: 1rem;
            }
        }
    }
}

/* #endregion header */

/* #region main */
main {

    background-color: var(--light-color);
    width: 100%;

    section {
        margin: auto;
        width: 70%;
        padding-top: 8rem;
    }

    section:first-child {

        width: 100%;
        background-color: var(--main-color);
    }

    #jumbotron {
        /*actual container of the jumbo*/
        margin: auto;
        background-color: var(--main-color);
        width: 70%;

        div {
            padding-top: 2rem;
            /*clear space for fixed header*/
            width: 100%;

            h1 {
                display: inline;
                /*to align header to the left*/
                font-size: 100px;
            }

            div:first-child {
                position: relative;
                /*used to place icon later*/
                width: 30%;
                /*leave space for main image*/
                flex-direction: column;

                & * {
                    width: fit-content;
                    /*make sure items don't occupy full line*/
                }

                .icon-container {
                    font-size: 50px;
                    position: absolute;
                    /*place anchor icon */
                    bottom: 0;
                    left: 0;
                    color: var(--dark-color);
                    padding: 1rem;
                }
            }

            div {
                width: 60%;
                /*take space for image*/

                a.bttn {
                    margin-left: 0;
                    /*align button to the left*/
                }
            }


            div img {
                height: 500px;
                /*image size*/
                margin-bottom: -10%;
                /*make image exit from container*/
            }
        }


    }

    div#top-spacer {

        background-color: var(--light-color);
        padding: 10rem 0;

        hr {
            border: 0.5px solid rgba(211, 211, 211, 0.527);

        }
    }

}



/* #endregion main */

/* #region footer */
footer {
    background-color: var(--dark-color);
    width: 100%;

    section {
        margin: auto;
        width: 80%;
    }
}

/* #endregion footer */